/* Contact Section */
.contact-section {
  width: 100%;
}

.contact-content {
  width: 100%;
  text-align: center;
}

.contact-section h2 {
  color: #38bdf8;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 18px;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
  cursor: pointer;
}

.contact-section h2:hover {
  color: #1572b6;
  transform: scale(1.07);
  text-shadow: 0 0 8px #38bdf8;
}

.email {
  color: #38bdf8;
  text-decoration: underline;
  font-weight: 600;
  transition: color 0.3s, text-shadow 0.3s;
}

.email:hover {
  color: #1572b6;
  text-shadow: 0 0 8px #38bdf8;
}
